.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .title {
      font-size: 28px;
      font-weight: 700;
      color: #222;
    }
    .control-buttons{
      display:flex;
      align-items:flex-end;
      .control-button {
        padding: 12px 20px;
        background-color: #007acc;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: #005fa3;
        }
        &.requests-button{
          margin-left:10px;
        }
      }
    }
  }

  .courses-header {
    display: flex;
    width: 100%;
    padding: 10px 0;
    font-weight: 700;
    border-bottom: 2px solid #dadada;
    font-size: 14px;
    color: #333;

    span {
      text-align: left;
    }

    /* Column widths */
    .col-image {
      flex: 0 0 90px;
    }

    .col-name {
      flex: 2;
    }

    .col-duration {
      flex: 1;
    }
  }

  .courses-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    .course-item {
      display: flex;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #eee;
      transition: background 0.2s;
      width: 100%;

      &:hover {
        background-color: #f2f4fd;
      }

      .course-image {
        width: 50px;
        height: 50px;
        background-color: #e3e3e3;
        border-radius: 50%;
        margin-right: 15px;
        flex: 0 0 60px;
      }

      /* Course columns */
      .course-name {
        flex: 2;
        font-size: 16px;
        font-weight: 600;
        color: #222;
      }

      .course-duration {
        flex: 1;
        font-size: 14px;
        color: #666;
      }
    }
  }
}
