<div class="container">
  <div class="header-top">
    <h2 class="title">Courses</h2>
    <div class="control-buttons">
    <button class="control-button" routerLink="/course-request-creator">Create Course</button>
    <button *ngIf="isSuperuser" class="control-button requests-button" routerLink="/course-creation-requests">Course Requests List</button>
    </div>
  </div>
  <div class="courses-header">
    <span class="col-image"></span> <span class="col-name">Name</span>
    <span class="col-description">Description</span>
  </div>
  <ul class="courses-list">
    <li class="course-item" *ngFor="let course of courses">
      <div class="course-image"></div>
      <div class="course-name">{{ course.title }}</div>
      <div class="course-description">{{ course.description }}</div>
      <button class="enroll-button">Enroll</button>
    </li>
  </ul>
</div>
