<div class="container">
  <div class="header-top">
    <h2 class="title">Course Creation Requests</h2>
  </div>
  <div class="requests-header">
    <span class="col-title">Title</span>
    <span class="col-description">Description</span>
    <span class="col-password">Password</span>
    <span class="col-requester">Requester</span>
    <span class="col-actions">Actions</span>
  </div>
  <ul class="requests-list">
    <li class="request-item" *ngFor="let request of courseRequests">
      <div class="request-title">{{ request.courseTitle }}</div>
      <div class="request-description">{{ request.courseDescription }}</div>
      <div class="request-password">{{ request.coursePassword }}</div>
      <div class="request-requester">
        {{ request.requester?.firstName }} {{ request.requester?.lastName }} ({{ request.requester?.username }})
      </div>
      <div class="request-actions">
        <button class="accept-button" (click)="acceptRequest(request)">Accept</button>
        <button class="reject-button" (click)="rejectRequest(request)">Reject</button>
      </div>
    </li>
  </ul>
  <p *ngIf="courseRequests.length === 0">No course creation requests found.</p>
</div>
