.permissions-container {
  max-width: 900px;
  margin: 20px auto;
  margin-top:100px;
  padding: 20px;
  background: rgba(10, 20, 35, 0.85);
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  color: white;
  font-family: "Poppins", "Inter", sans-serif;
}

.permissions-container h2 {
  color: #16d4c3;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

select {
  padding: 4px 8px;
  border-radius: 6px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
}
select option {
  color: #fff; /* option text color */
  background-color: #292727; /* option background */
}