.toggle-button {
  padding: 8px 16px;
  border-radius: 8px;
  position: absolute;
  top: 110px;
  right: 40px;
  border: none;
  background: #16d4c3;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.toggle-button:hover {
  background: #13b9a9;
}
