// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$zmitacV2-primary: mat.define-palette(mat.$indigo-palette);
$zmitacV2-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$zmitacV2-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$zmitacV2-theme: mat.define-light-theme(
  (
    color: (
      primary: $zmitacV2-primary,
      accent: $zmitacV2-accent,
      warn: $zmitacV2-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($zmitacV2-theme);

body {
  font-family:
    "Montserrat", "Helvetica Neue", "Helvetica", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #0b8793, #360033);
  min-height: 100vh;
}

/* Fade-In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// CSS resets for UA Stylesheets
button {
  font-family: inherit; // Some browsers override the font for buttons as they're "form controls".
}

.modal input {
  font-family: inherit;
}
